@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  @apply text-2xl m-5 text-red-500;
}

.msg {
  @apply text-lg m-5 text-gray-900;
}

.input {
  @apply p-1 border-solid border-2 border-gray-400 rounded-sm;
}

.btn {
  @apply px-7 py-2 mx-2 bg-blue-800 text-white rounded-lg;
}

.countBtn {
  @apply px-7 py-5 mx-2 bg-blue-800 text-white rounded-lg; 
}

.flex-center {
  @apply flex justify-center;
}

:any-link {
  @apply text-lg m-5 text-sky-600;
}

img {
  @apply border-solid border-2 border-green-300 m-5 p-2;
}

h1.title {
  @apply text-2xl font-bold m-0 p-5 text-white bg-blue-800 text-center;
}

h1.number {
  @apply text-2xl font-bold m-0 p-5 text-white bg-blue-800 text-center;
}

p.msg {
  @apply text-lg m-5 text-gray-900;
}

ul, ol {
  @apply text-xl m-5 font-bold list-disc;
}
li {
  @apply mx-10 font-normal text-blue-700;
}

table {
  @apply m-5;
}

table tr th {
  @apply border-solid border-2 bg-blue-100 px-10;
}

table tr td {
  @apply border-solid border-2 p-2;
}